.container{
    background-color: purple;
    width: 55%;
    margin-top: 30px;
    height: 60px;
}

.rounded{
    border-radius:20px;
}

.container a{
    font-family: sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-left: 30px;
    color: yellow;
}
