.container{
    background-color: purple;
    width: 55%;
    margin-top: 30px;
    overflow: hidden;
}

.rounded{
    border-radius:20px;
}

.inline{
    margin-top: 10px;
    width: 780px;
}

.container button{
    display:inline-block;
    border-radius: 50%;
    margin:10px;
    padding: 5px;
    width: 55px;
    height: 55px;
    background: yellow;
    border: 3px solid #000;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 900;
    font-size: 26px;
}